* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 110vh;
}

body.dark_Theme {
    background: url(./assets/bg-desktop.jpg) no-repeat top center/cover;
}

body.white_Theme {
    background: url(./assets/bg-desktop-light.jpg) no-repeat top center/cover;
}

body * {
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

#container {
    width: 360px;
    margin: 56px auto 0px;
}

#profile {
    text-align: center;
    padding: 0 18px 24px;
    display: flex;
    flex-flow: column;
    gap: 12px;
    align-items: center;
}

#profile img {
    width: 60%;
    margin: auto;
    border-radius: 100%;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
}

.white_Theme p{
    color: #000;
}

ul {
    list-style: none;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 1.5rem;
    list-style: none;
}

.fa-moon {
    color: #f1c40f;
    font-size: small;
}

.fa-sun {
    color: #f39c12;
    font-size: small;
}

li a {
    display: flex;

    border-radius: 0.8rem;
    border: 0.1rem solid #fff;
    padding: 0.8rem 1.6rem;

    background-color: rgba(255, 255, 255, 0.05);
    color: inherit;
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);

    font-weight: 500;
    line-height: 2.4rem;
    text-align: center;
    text-decoration: none;

    transition: all 0.3s ease-in-out;
}

body.white_Theme li a {
    border: 0.1rem solid #000;
    background-color: rgba(0, 0, 0, 0.5);
}

li a:hover {
    border-color: #fff;
    background-color: rgba(255, 255, 255, 0.15);
}

#container div .checkbox {
    z-index: 2;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 22px;
    width: 45px;
    transform: scale(1.5);
}

.dark_Theme #container .label {
    background-color: #111;
    border-radius: 50px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 22px;
    width: 46px;
    margin-right: 2px;

    transform: scale(1.5);
}

#container .label .bola {
    border-radius: 50%;
    position: absolute;
    left: 1px;
    height: 18px;
    width: 18px;
    background: white url(./assets/moon-stars.svg);

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

#container .checkbox:checked+.label .bola {
    transform: translateX(24.5px);
    background-color: #000;
    background: white url(./assets/sun.svg);

}

#container .checkbox:checked+.label {
    background-color: #fff;
    border: 1px solid #000;

}

.social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.white_Theme .social-media{
    filter: invert();
}

footer {
    display: flex;
    justify-content: center;
}

.white_Theme footer a{
    color: #000;
}